parameters:
	imageDir: albums

	imageDimensions:
		small: [150, 100]
		medium: [1024, 0]
		large: [1920, 0]

	oauth:
		clientId: '62fa87e3d1a76-gallery'
		clientSecret: 'uO5iZ-irO5s-vsX11YwZuEsyHm9sLvx0nP3'
		redirectUrl: 'https://gallery.vzs-jablonec.lh/sign/o-auth'
		authorizeUrl: 'https://account.vzs-jablonec.lh/oauth/authorize'
		tokenUrl: 'https://account.vzs-jablonec.lh/oauth/token'
		resourceUrl: 'https://account.vzs-jablonec.lh/oauth/me'
		#resource_method: 'GET'

	menu:
		news:
			title: novinky
			action: Homepage:default
			current: Homepage:default
		albums:
			title: alba
			action: Homepage:albums
			current:
				- Homepage:albums
				- Album:*
		sighIn:
			title: přihlášení
			action: Sign:in
			current: Sign:*
			loggedIn: false
		intranet:
			title: intranet
			link: https://member.vzs-jablonec.lh
			loggedIn: true
		sighOut:
			title: odhlášení
			action: Sign:out
			current: Sign:*
			loggedIn: true

php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

security:
	authentication:
		# po jak dlouhé době nečinnosti bude uživatel odhlášen
		expiration: 6 hours

routing:
	cache: true
	routes:
		'album': Homepage:albums
		'album/<slug \d+-[\w-]+>/<action view|edit|upload>': Album:view
		'<presenter>/<action>[/<id>]': Homepage:default

http:
	headers:
		X-Content-Type-Options: nosniff
	csp:
		default-src:
			- self
			- 'data:'
		script-src:
			- self
			- nonce
		form-action: self
		frame-ancestors: none
		base-uri: none

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	multiplier: Contributte\FormMultiplier\DI\MultiplierExtension
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

dbal:
	driver: mysqli
	host: %database.default.host%
	username: %database.default.username%
	password: %database.default.password%
	database: %database.default.database%

nextras.orm:
	model: App\Model\Orm
