services:
	nette.latteFactory:
		setup:
			- addFilterLoader([App\Latte\LatteFilters(), load])

	- App\Image\ImageService(%wwwDir%, %imageDir%, %imageDimensions%)

	oauth:
		create: App\OAuth\OAuthService
		arguments: %oauth%

	#commands
	- App\Commands\TransformImagesCommand
	#authenticator
	- App\Auth\EmailAuthenticator
	#authorizator
	- App\Auth\AuthorizatorFactory::create
	#forms
	- App\Forms\AlbumPhotoFormFactory
	#menu
	- App\Menu\Menu(%menu%)
