services:
	nette.latteFactory:
		setup:
			- addFilterLoader([App\Latte\LatteFilters(), load])

	- App\Photo\ImageService(%wwwDir%, %photoDir%, %photoDimensions%)

	oauth:
		create: App\OAuth\OAuthService
		arguments: %oauth%

	#commands
	- App\Commands\TransformImagesCommand
	#authenticators
	- App\Authenticator\EmailAuthenticator
	#forms
	- App\Forms\AlbumPhotoFormFactory
